<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunny.cloud.system.core.mapper.DictValueMapper">
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.sunny.cloud.system.core.model.po.DictValuePO" useGeneratedKeys="true">
        insert into sys_dict_value
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null">name,</if>
            <if test="value != null">value,</if>
            <if test="sort != null">sort,</if>
            <if test="dictId != null">dict_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createUser != null">create_user,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateUser != null">update_user,</if>
            <if test="deleted != null">deleted,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="name != null">#{name},</if>
            <if test="value != null">#{value},</if>
            <if test="sort != null">#{sort},</if>
            <if test="dictId != null">#{dictId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createUser != null">#{createUser},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateUser != null">#{updateUser},</if>
            <if test="deleted != null">#{deleted},</if>
        </trim>
    </insert>
    <update id="update" parameterType="com.sunny.cloud.system.core.model.po.DictValuePO">
        update sys_dict_value
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="value != null">
                value = #{value},
            </if>
            <if test="sort != null">
                sort = #{sort},
            </if>
            <if test="dictId != null">
                dict_id = #{dictId},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="createUser != null">
                create_user = #{createUser},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser},
            </if>
            <if test="deleted != null">
                deleted = #{deleted},
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="exists" resultType="boolean">
        select
            count(0) > 0
        from sys_dict_value dv
        <where>
            and dv.dict_id = #{po.dictId}
            <if test="po.value != null and po.value != '' or po.name !=null and po.name !=''">
                and (
                <trim prefixOverrides="or">
                    <if test="po.value != null and po.value != ''">
                        or dv.value = #{po.value}
                    </if>
                    <if test="po.name !=null and po.name !=''">
                        or dv.name = #{po.name}
                    </if>
                </trim>
                )
            </if>
            <if test="includeId == true">
                and dv.id &lt;&gt; #{po.id}
            </if>
            and dv.deleted = 0
        </where>
    </select>
    <select id="selectListBy" resultType="com.sunny.cloud.system.core.model.dto.DictValueDTO">
        select
            dv.*
        from sys_dict_value dv
        <where>
            <if test="dictId !=null">
                dv.dict_id = #{dictId}
            </if>
            and dv.deleted = 0
        </where>
        order by dv.sort asc
    </select>
</mapper>
