<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunny.cloud.system.core.mapper.DictMapper">
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.sunny.cloud.system.core.model.po.DictPO" useGeneratedKeys="true">
        insert into sys_dict
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="code != null">code,</if>
            <if test="name != null">name,</if>
            <if test="remark != null">remark,</if>
            <if test="valueType != null">value_type,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createUser != null">create_user,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateUser != null">update_user,</if>
            <if test="deleted != null">deleted,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="code != null">#{code},</if>
            <if test="name != null">#{name},</if>
            <if test="remark != null">#{remark},</if>
            <if test="valueType != null">#{valueType},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createUser != null">#{createUser},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateUser != null">#{updateUser},</if>
            <if test="deleted != null">#{deleted},</if>
        </trim>
    </insert>
    <update id="update" parameterType="com.sunny.cloud.system.core.model.po.DictPO">
        update sys_dict
        <set>
            <if test="code != null">
                code = #{code},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="remark != null">
                remark = #{remark},
            </if>
            <if test="valueType != null">
                value_type = #{valueType},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="createUser != null">
                create_user = #{createUser},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser},
            </if>
            <if test="deleted != null">
                deleted = #{deleted},
            </if>
        </set>
        where id = #{id}
    </update>

    <resultMap id="DictValueMap" type="com.sunny.cloud.system.core.model.dto.DictDTO">
        <result column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="name" property="name"/>
        <result column="remark" property="remark"/>
        <result column="value_type" property="valueType"/>
        <collection column="dict_id" property="values" ofType="com.sunny.cloud.system.core.model.dto.DictValueDTO">
            <result column="value_id" property="id"/>
            <result column="value_name" property="name"/>
            <result column="value_sort" property="sort"/>
            <result column="value" property="value"/>
        </collection>
    </resultMap>
    <sql id="BASE_SELECT_SQL">
        select
            d.*,
            dv.id as value_id,
            dv.name as value_name,
            dv.sort as value_sort,
            dv.value as value
        from sys_dict d
        inner join sys_dict_value dv on dv.dict_id = d.id
    </sql>
    <select id="selectOneByCode" resultMap="DictValueMap">
        <include refid="BASE_SELECT_SQL"/>
        where d.code = #{code} and d.deleted = 0
    </select>

    <select id="exists" resultType="boolean">
        select
            count(0) > 0
        from sys_dict d
        <where>
            <if test="po.code !=null and po.code !=''">
                and d.code = #{po.code}
            </if>
            <if test="includeId == true">
                and d.id &lt;&gt; #{po.id}
            </if>
            and d.deleted = 0
        </where>
    </select>
</mapper>
